<div class"table-responsive">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Tablón de 8</th>
        <th>Semifinales</th>
        <th>Final</th>
        <th>Ganador</th>
      </tr>
    </thead>
    <%= body_tags %>
  </table>
</div>
