<h1>Competitions</h1>

<ul class="list-group">
  <% @competitions.each_with_index do |competition, index| %>
    <li class="list-group-item <%= index.odd? ? 'list-group-item-secondary' : 'list-group-item-light' %>">
      <%= link_to competition.name, competition %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to 'Create', new_competition_path %>
<% end %>
